/* ================================================= */
/* ================= Common Specs ================== */
/* ================================================= */

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 20px;
}

body {
	background-color: #000;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('../img/dark-bg.png');
	height: 100vh;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 170%;
	letter-spacing: 2px;
	color: #7f0000;
}

h2 {
	/*font-family: 'Righteous', cursive;*/
	/*font-family: 'Special Elite', cursive;*/
	font-family: 'Prosto One', cursive;
	font-size: 100%;
	color: #fff;
	text-shadow: 0 0 5px #f00;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 100%;
	letter-spacing: 1px;
	line-height: 140%;
	color: #a6a6a6;
}

a {
	text-decoration: none;
	color: #fff;
}

/* ================================================= */
/* ================= Main Content ================== */
/* ================================================= */

.container {
	/*border: 1px solid green;*/
	width: 70%;
	height: 430px;
	position: relative;
	left: 50%;
  top: 150px;
  transform: translate(-50%);
}

.tagline {
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	transition: opacity 0.6s ease-in;
	cursor: default;
	z-index: -20;
}

/* Determines where chevron and menu button will be located */
.menu-div {
	width: 4%;
	position: absolute;
	right: calc(-2% + 3px);
	text-align: center;
}

/* Menu button specs */
#menu-btn-div {
	top: -8px;
}

#menu-btn {
	border: none;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.3;
	width: 20px;
	height: 20px;	
	cursor: pointer;
	z-index: 10;
}

#menu-btn:focus {
	outline: 0;
}

/* Chevron specs and animation */
#chevron {
	font-size: 200%;
	transform: rotate(90deg);
	text-shadow: 0 0 15px #f00;
	top: -90px;
	animation: chevron 1s linear infinite;
}

@keyframes chevron {
	from { opacity: 0; top: -90px; }
	to { opacity: 1; top: -60px; }
}

.hide {
	/*display: none;*/
	visibility: hidden;
}

/* ================================================= */
/* ================ Animated Beams ================= */
/* ================================================= */

.beam {
	display: inline-block;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 50px 5px #f00;
	position: absolute;
	right: 0;
	opacity: 0;
	z-index: -10;
}

#rod {
	width: 5px;	
	height: 0;
	transform-origin: center top;
}

#top-bar {
	width: 0;
	height: 5px;
	transform-origin: center right;
}

#mid-bar {
	width: 0;
	height: 5px;
	top: 210px;
	transform-origin: center right;
}

#bottom-bar {
	width: 0;
	height: 5px;
	top: 425px;
	transform-origin: center right;
}

/* Animations */
.draw-rod {
	animation: drawRod 0.6s linear forwards;
}

.draw-top {
	animation: drawTop 1s linear forwards;
}

.draw-mid {
	animation: drawMid 0.7s linear 0.3s forwards;
}

.draw-bottom {
	animation: drawBottom 0.4s linear 0.6s forwards;
}

.undraw-rod {
	animation: undrawRod 0.6s linear forwards;
}

.undraw-top {
	animation: undrawTop 1s linear forwards;
}

.undraw-mid {
	animation: undrawMid 0.7s linear forwards;
}

.undraw-bottom {
	animation: undrawBottom 0.4s linear forwards;
}

@keyframes drawRod {
	0% { height: 0; }
	100% { height: 430px; }
}

@keyframes drawTop {
	0% { width: 0; }
	100% { width: 75%; }
}

@keyframes drawMid {
	0% { width: 0; }
	100% { width: 50%; }
}

@keyframes drawBottom {
	0% { width: 0; }
	100% { width: 25%; }
}

@keyframes undrawRod {
	0% { height: 430px; }
	100% { height: 0; }
}

@keyframes undrawTop {
	0% { width: 75%; }
	100% { width: 0; }
}

@keyframes undrawMid {
	0% { width: 50%; }
	100% { width: 0; }
}

@keyframes undrawBottom {
	0% { width: 25%; }
	100% { width: 0; }
}

/* ================================================= */
/* ================= Animated Links ================ */
/* ================================================= */

.title {
	display: inline-block;
	position: absolute;
	bottom: 15px;
	left: 100px;
	opacity: 0;
}

.link {
	display: inline-block;
	background-size: cover;
	background-position: center;
	background-color: #fff;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 5px solid #fff;
	box-shadow: 0 0 50px 5px #f00;
	margin-top: -78px;
	margin-left: -80px;
	opacity: 0;
	z-index: 10;
}

#portfolio {
	background-image: url('../img/portfolio.jpeg');
}

#about {
	background-image: url('../img/about-me.jpg');
}

#contact {
	background-image: url('../img/contact.jpg');
}

/* Animations */
.open-link {
	animation: openLink 0.5s linear 1s forwards;
}

.close-link {
	animation: closeLink 0.5s linear forwards;
}

@keyframes openLink {
	0% { transform: scale(0); opacity: 1; }
	100% { transform: scale(1); opacity: 1; }
}

@keyframes closeLink {
	0% { transform: scale(1); opacity: 1; }
	100% { transform: scale(0); opacity: 1; }
}