/* ================================================= */
/* ================= Common Specs ================== */
/* ================================================= */

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 20px;
}

body {
	background-color: #000;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('../img/dark-bg.png');
	height: 100vh;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 170%;
	letter-spacing: 2px;
	color: #7f0000;
}

h2 {
	/*font-family: 'Righteous', cursive;*/
	/*font-family: 'Special Elite', cursive;*/
	font-family: 'Prosto One', cursive;
	font-size: 100%;
	color: #fff;
	text-shadow: 0 0 5px #f00;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 100%;
	letter-spacing: 1px;
	line-height: 140%;
	color: #fff9e6;
}

/* ================================================= */
/* ================= Main Content ================== */
/* ================================================= */
.header {
	box-shadow: 0 0 30px #555;
	text-align: center;
}

.header>h2 {
	padding: 30px;
	font-size: 120%;
}

.container {
	display: inline-block;
	width: 80%;
	height: 500px;
	position: relative;
	top: 50px;
	left: 50%;
  transform: translate(-50%);
}

.tagline {
	position: absolute;
	padding-bottom: 10px;
	width: 60%;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	transition: opacity 0.6s ease-in;
	cursor: default;
	z-index: -20;
}

.links {
	position: relative;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	width: 100%;
	text-align: right;
}

#h2-home { margin:0 0 5px 0; }
#h2-portfolio,
#h2-about-me, 
#h2-contact { margin: 50px 0 5px 0; }

.link {
	text-decoration: none;
	color: #f55;
	opacity: 0.4;
}

.link:hover,
.link:active {
	opacity: 1;
	text-shadow: 0 0 30px #f00;
}

.link:focus { outline: none; }

/* ========= Content Animation ========= */
.image {
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
}

.show-image { animation: showImage 1s ease 1.5s forwards; }

@keyframes showImage {
	0% { width: 0; }
	100% { width: 40%; }
}

.content {
	position: absolute;
	top: 0;
	left: 40%;
	height: 100%;
	width: 60%;
	overflow: auto;
}

.content-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	border: 1px solid #f55;
	box-shadow: 0 0 50px #f00;
	background-color: rgba(0, 0, 0, 0.1);
	opacity: 0;
	z-index: -10;
}

.draw-box { animation: drawBox 1.5s ease-out forwards; }

@keyframes drawBox {
	0% { height: 0; width: 0; }
	30% { height: 0; width: 88%; }
	100% { height: 100%; width: 88%;	}
}

#material {
	display: none;
	opacity: 0;
	font-size: 90%;
	padding: 30px 40px;
}

.display-material { animation: displayMaterial 1s ease-out forwards; }

@keyframes displayMaterial {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

