/* ================================================= */
/* ================= Common Specs ================== */
/* ================================================= */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-size: 20px;
}

body {
	background-color: #000;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('../img/dark-bg.png');
	height: 100vh;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 170%;
	letter-spacing: 2px;
	color: #7f0000;
}

h2 {
	/*font-family: 'Righteous', cursive;*/
	/*font-family: 'Special Elite', cursive;*/
	font-family: 'Prosto One', cursive;
	font-size: 100%;
	color: #fff;
	text-shadow: 0 0 5px #f00;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 100%;
	letter-spacing: 1px;
	line-height: 140%;
	color: #a6a6a6;
}

/* ================================================= */
/* ================= Main Content ================== */
/* ================================================= */

.container {
	display: inline-block;
	width: 90%;
	height: 550px;
	position: relative;
	top: 100px;
	left: 50%;
  transform: translate(-50%);
}

.tagline {
	position: absolute;
	padding-bottom: 10px;
	width: 60%;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	transition: opacity 0.6s ease-in;
	cursor: default;
	z-index: -20;
}

.links {
	position: relative;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	width: 90%;
	text-align: right;
}

#h2-portfolio { margin:0 0 5px 0; }
#h2-about-me, 
#h2-contact { margin: 50px 0 5px 0; }

.link {
	text-decoration: none;
	color: #fff;
	opacity: 0.6;
}

.link:hover,
.link:active {
	opacity: 1;
	text-shadow: 0 0 30px #fff;
}

.link:focus { outline: none; }

/* Beam Animation */
.beam {
	position: absolute;
	right: 0;
	width: 0;
	height: 3px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 0 50px 5px #f00;
	opacity: 0;
	transform-origin: center right;
}

.draw-beam { animation: drawBeam 1s linear forwards; }
.undraw-beam { animation: undrawBeam 1s linear forwards; }

@keyframes drawBeam {
	0% { width: 0; }
	100% { width: 100%; }
}

@keyframes undrawBeam {
	0% { width: 100%; }
	100% { width: 0; }
}
